@model CambiarContrasenaDTO
@{
    ViewData["Title"] = "Cambiar Contraseña";
}

<div class="main-container">
    <div class="centered-element">
        <div class="form-contrasena">
                <form asp-action="ChangePassword" method="post">
                    <div class="title">
                        <h2>Cambiar Contraseña</h2>
                    </div>
                    </br></br>
                    <span class="text-danger" asp-validation-for="ContrasenaActual"></span>
                    <h3>Contraseña Actual:</h3>
                <div class="group-contrasena">
                        <input type="password" asp-for="ContrasenaActual" class="input-text">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <span class="text-danger" asp-validation-for="ContrasenaNueva"></span>
                    <h3>Nueva Contraseña:</h3>
                <div class="group-contrasena">
                        <input type="password" asp-for="ContrasenaNueva" class="input-text">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <span class="text-danger" asp-validation-for="ContrasenaConfirmar"></span>
                    <h3>Confirmar Contraseña:</h3>
                <div class="group-contrasena">
                        <input type="password" asp-for="ContrasenaConfirmar" class="input-text">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <button class="custom-btn btn-accept" type="submit">Cambiar Contraseña</button><br /><br />
                    <a class="custom-btn btn-info" type="submit" asp-controller="Home" asp-action="Index">Pagina Principal</a><br /><br />
                    @if (TempData["msg"] != null)
                        {
                                <span class="text-danger">@TempData["msg"]</span>
                        }
                </form>
        </div>
    </div>
</div>
