@model IniciarSesionDTO
@{
    ViewData["Title"] = "Iniciar Sesión";
}

<div class="main-container">
    <div class="centered-element">
        <div class="form">
            <div class="centered-element">
                <form asp-action="Login" method="post">
                    <div class="title">
                        <i class="bi bi-person-circle size"></i>
                        <h2>Iniciar Sesión</h2>
                    </div>
                    </br></br>
                    <span class="text-danger" asp-validation-for="UserName"></span>
                    <h3>Usuario:</h3>
                    <div class="group">
                        <input type="text" asp-for="UserName" class="input-text">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <span class="text-danger" asp-validation-for="Contrasena"></span>
                    <h3>Contraseña:</h3>
                    <div class="group">
                        <input type="password" asp-for="Contrasena" class="input-text">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                    </div>
                    <button class="custom-btn btn-accept" type="submit">Iniciar Sesión</button><br /><br />
                    <a class="custom-btn btn-info btn-margin1" type="submit" asp-controller="Home" asp-action="Index">Volver a Inicio</a><br /><br />
                    @if (TempData["msg"] != null)
                        {
                                <span class="text-danger">@TempData["msg"]</span>
                        }
                </form>
            </div>
        </div>
    </div>
</div>
